<!DOCTYPE html>
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- SEO -->
    <meta name="description" content="150 words">
    <meta name="author" content="uipasta">
    <meta name="url" content="http://www.yourdomainname.com">
    <meta name="copyright" content="company name">
    <meta name="robots" content="index,follow">
    
    
    <title>Random Quote Generator</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='styles/images/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="{{ url_for('static',filename='styles/images/favicon/apple-touch-icon.png') }}">
    
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/plugin.css') }}">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700|Nosifer">
    
    
    <!-- HTML5 shiv and Respond.js support IE8 or Older for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	   <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    

 </head>

  <body>
    <!-- Preloader Start -->
      <div class="preloader">
       <p>Loading...</p>
      </div>
      <!-- Preloader End -->
	  
	     <!-- Home Section Start -->
       <section id="home" class="home-section-background">
         <div class="container">
            
            
            <div class="row">
                
                 <div class="col-md-12">
                     
                      
                      <!-- Home Section Heading Start -->
                      <div class="header-section">
                          <h2>Enter Text and click submit</h2>
                            
                             
							 <div class="col-md-6 col-md-offset-3 margin-top-50">
                              <form id="mc-form" method="post" action="http://uipasta.us15.list-manage.com/subscribe/post?u=35ae345d2cc8ceed7b9542abb&amp;id=24cbd58a39">
								
						        <div class="subscribe-form">
							     <input id="mc-email" placeholder="Enter Text" class="text-input">
							     <button class="submit-btn" type="submit">Submit</button>
								 </div>
								<label for="mc-email" class="mc-label"></label>
							  </form>
							</div>
							
                        </div>
                        <!-- Home Section Heading End -->
                       
                   </div>
              </div>
            </div>
        </section>
        <!-- Home Section End -->
    
    
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- Back to Top End -->
    
    
    
    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="{{ url_for('static',filename='styles/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='styles/js/plugin.js') }}"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="{{ url_for('static',filename='styles/js/scripts.js') }}"></script>
  
  
  </body>
 </html>